/* styles/HorizontalGradientSelector.module.css */
.gradient-selector {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.card {
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-size: cover;
  border: 2px solid transparent;
}

.card.selected {
  border-color: white;
}

.btn-smaller-height {
  height: 30px; /* Sau orice altă înălțime dorită */
}

.grey-out {
  filter: grayscale(100%); /* Transformă imaginea în alb-negru */
  opacity: 0.5; /* Face elementul semi-transparent pentru a indica indisponibilitatea */
  pointer-events: none; /* Dezactivează orice interacțiune cu elementul */
  user-select: none; /* Previne selecția textului din elementul respectiv */
}

.unavailability-reason {
  color: #ffd700;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
}

.slick-slide-padding {
  padding: 0 15px; /* Adjust the 15px to increase or decrease the gap */
}

.slick-list {
  margin: 0 -15px; /* This counteracts the padding on the slides, ensuring the edges align properly */
}

.modal-content {
  z-index: 1050; /* Exemplu de valoare tipică pentru modaluri */
}

.autocomplete-dropdown {
  position: relative;
  z-index: 1100; /* Mai mare decât z-index-ul modalului */
}

.pac-container {
  z-index: 1500 !important; /* Folosește o valoare mare pentru a depăși z-index-ul modalului */
}

.single_line {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Puts maximum space between text container and button/paragraph */
}

.text_container {
  flex-grow: 1; /* Allows the text container to take up remaining space */
}

.offer {
  margin-top: 10px; /* Gives top margin for all offers except the first */
}

.custom-alert {
  width: 50%; /* Setează lățimea dorită, de exemplu 50% din lățimea viewport-ului */
  left: 25%; /* Centrarea se face ajustând left la jumătate din diferența până la 100% */
  right: 25%; /* Asigură-te că marginile dreapta și stânga sunt egale */
}

.form-data-nasterii {
  margin-right: 10px;
}

.camere {
  display: flex;
  align-items: center; /* Aliniază vertical elementele */
  justify-content: flex-start; /* Alinează elementele la stânga */
  width: 100%; /* Asigură că ocupă întreaga lățime disponibilă */
  flex-direction: row;
  width: auto;
}

.room-options {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ajustează spațierea între elemente după necesitate */
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spațiere între selecturi */
}

.custom-select {
  flex: 1 1 45%; /* Ajustează lățimea selecturilor după necesitate */
}

.custom-button-container {
  width: 100%;
  margin-top: 10px; /* Spațiu între selecturi și buton */
}

.toggle-button {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center; /* Centrare verticală */
  margin-left: 10px; /* Spațiu între iconiță și text */
}

.buton_selectare_camere {
  border-radius: 8px;
  background-color: var(--color-primary);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  height: 50px;
  width: 215px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.container_drop_copil {
  display: flex !important;
  flex-wrap: wrap !important; /* Permite elementelor să se alinizeze pe rânduri multiple */
  gap: 10px; /* Ajustează spațierea între elemente după necesitate */
}

.container_drop_copil > * {
  flex: 1 1 calc(50% - 10px); /* Asigură că fiecare element ocupă aproximativ 50% din lățime, minus spațierea */
  box-sizing: border-box; /* Include padding și border în dimensiunile elementului */
}

.filter_holidays {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite elementelor să se așeze pe mai multe rânduri dacă este necesar */
}

/* Media queries */
@media (max-width: 768px) {
  /* Stiluri pentru dispozitive mobile */
  .filter_holidays {
    flex-direction: column; /* Așează elementele vertical pentru mobil */
  }
}

@media (min-width: 769px) {
  /* Stiluri pentru desktop */
  .filter_holidays {
    flex-direction: row; /* Așează elementele orizontal pentru desktop */
    justify-content: space-between; /* Distribuie spațiu între elemente pe orizontală */
  }
}

.imagini_profil {
  max-width: 300px !important;
  max-height: 300px !important;
}

.imagini_partener {
  border-radius: 8px;
  background-color: #ffffff;
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.imagini_partener img {
  height: 300px;
  width: 300px;
}

.delete-buton-garbage {
  cursor: pointer;
}
